.searchSection {
  width: 1440px;
  height: 50px;
}

.header {
  display: flex;
  margin: 0px;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: blue;
  place-items: center;
}
.searchButtonBox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: white;
  border-radius: 2px;
}
.searchBtm {
  height: 22px;
  width: 20px;
  border: none;
  background-color: white;
  padding: 0px;
  border-radius: 2px;
}
.searchBtm :focus,
.searchBtm :hover {
  height: 20px;
  width: 10px;
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  background-color: none;
}
.searchInput {
  width: 200px;
  height: 20px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.searchInput:focus,
.searchInput:hover {
  outline: none;
  border: none;
  box-shadow: none;
}
